@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Raleway:wght@500&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    color: white;
}
body{
    background-color: #343a40;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
h1{
    padding: 2%;
}
.card {
    background-color:#343a40;
    padding: 2%;
    margin: 2%;
    width: 40%;
    border-radius: 10px;
}
.academics{
    /* background-color: #f2f2f2; */
    padding: 2%;
    margin: 2%;
    width: 40%;
    /* border: none; */
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    /* border:10px; */
}
.contact{
    border: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:black;
}
.img-thumbnail{
    border: none;
    border: 0px;
}
hr{
    border: 1px solid white;
}